#wrapper {
  width: 100%;
}
.new-login-register {
  position: fixed;
  height: 100%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9 {
  float: left;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.new-login-register .lg-info-panel {
  background: url(../img/login-register.jpg) no-repeat center center / cover !important;
  width: 25%;
  height: 100%;
  position: fixed;
  right: 0;
}
.new-login-register .lg-info-panel .lg-content {
  margin-top: 50%;
  text-align: center;
  padding: 0 50px;
}
.new-login-register .lg-info-panel .lg-content p {
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}
.footer {
  bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  position: absolute;
  text-align: center;
  background: none;
}

.new-login-register .lg-info-panel .lg-content h2 {
  color: #ffffff;
}
.lg-content h2 {
  font-size: 26px;
  font-weight: 500;
  text-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
}
.new-login-register .lg-info-panel .lg-content p {
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}
